[Unit]
Description=Check every 10 minutes whether the assessment VM is idle

[Timer]
OnBootSec=15min
OnUnitActiveSec=10min

[Install]
WantedBy=timers.target
